<center>
<%= form_tag acronyms_path, method: :get, id: "acronyms_search"  do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'search', name: nil %>
  </p>
<% end %>
</center>
<% if @wiki.present? %>
	<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-default left-panel">
						<div class="panel-body">
							<div id="acronym"><%= render 'acronym' %></div>
						</div>
					</div>

				</div>
				<div class="col-md-6"><br><br><br>
				  <div class="panel panel-default">
						<div class="panel-body">
							<center>
								<h2><%= @wiki.title %></h2>
							</center>
							<p>
								<%= @wiki.summary %>
							</p>
									<h1>Images from wikipedia for <%= @wiki.title %></h1>
									 <% @wiki.image_urls.each do |img| %>
										<div class="">
											<a title="image" href="#">
												<%= image_tag("#{img}", class: "thumbnail img-responsive") %>
											</a>
										</div>
									<% end %>
								<br><br>
							<div class="pull-left">
								<span>Like</span>
							</div>
							<div class="pull-right">
								<a href="https://www.facebook.com/DLZYagiz"><i class="fa fa-2x fa fa-facebook-square"></i></a>  
								<a><i class="fa fa-2x fa fa-google-plus-square"></i></a>  
								<a><i class="fa fa-2x fa fa-twitter-square"></i></a>  
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>





<hr>
